.heading{
    background-color: #6495ED;
    font-size: xx-large;
    font-weight: 900;

}
.text1{
    background-color: #B0C4DE;
    padding: 0px 0px 10px 0px;
}

.text2{
    background-color: #E0FFFF;
    padding: 0px 0px 10px 0px;
}
.t1{
    text-transform:uppercase;
}

a:visited {
    color: rgb(10, 202, 58);
}

#Q5 table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

#Q6 table{
    border: 1px solid green;
}
#Q6 td {
    border: 1px solid green;
    border-collapse: collapse;
}

#Q6 th{
background-color: green;
color: white;
}

.note{
    border: solid 1px orange;
    font-size: x-large;
    outline: dotted rgb(104, 207, 100);
}

.shade{
    border: solid 5px;
}

.shade2{
    border: solid 3px;
}

.shade3{
    border: solid 1px;
}